<nav class="navbar">
  <div class="navbar-brand">
    <img src="/g3.jpeg" class="profile-photo" alt="Profile Photo">
    <img src="/logo.png" class="logo">
  </div>
  
  <div class="menu-toggle" (click)="toggleMenu()">
    <i class="fas fa-circle-notch" [class.rotate]="isMenuOpen"></i>
  </div>
  
  <ul class="navbar-links" [class.active]="isMenuOpen">
    <li><a href="#about"><i class="fas fa-user-circle"></i> About</a></li>
    <li><a href="#skills"><i class="fas fa-chart-bar"></i> Skills</a></li>
    <li><a href="#projects"><i class="fas fa-folder-open"></i> Projects</a></li>
    <li><a href="#contact"><i class="fas fa-envelope-open"></i> Contact</a></li>
  </ul>
</nav>
