<nav class="navbar">
  <div class="navbar-brand">
    <img src="/g3.jpeg"  class="profile-photo" alt="Profile Photo">
    <a href="#">
    <img src="/logo.png"  class="logo">
  </a>
  </div>
  
  <div class="menu-toggle" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
    <i class="fas fa-bars-staggered"></i>
  </div>
  
  
  <ul class="navbar-links" [class.active]="isMenuOpen">
    <li><a href="/about"><i class="fas fa-user-circle"></i> About</a></li>
    <li><a href="/skills"><i class="fas fa-chart-bar"></i> Skills</a></li>
    <li><a href="/projects"><i class="fas fa-folder-open"></i> Projects</a></li>
    <li><a href="/certifications"><i class="fas fa-trophy"></i> Certifications</a></li>
    <li><a href="/contact"><i class="fas fa-envelope-open"></i> Contact</a></li>
  </ul>
</nav>
