<div class="projects-section">
  <h1><i class="fa-solid fa-file-contract"></i>

    My Work</h1>

  <div class="projects-container">
    <div class="project-card">
      <h3><i class="fas fa-car"></i> Parking Space Finder App</h3>
      <div class="project-image-container">
        <img src="/parkingSpaceFinder.png" alt="Parking Space Finder" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/KishoreBabu7/parking-finder-app" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://parking-finder-app.vercel.app/home" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Developed the frontend and integrated backend functionalities. <strong>Technologies:</strong> Angular, Spring Boot, MongoDB.</p>
   </div>

    <!-- Project 2 -->
    <div class="project-card">
      <h3><i class="fas fa-calendar-alt"></i> Faculty Time Scheduling</h3>
      <div class="project-image-container">
        <img src="/Faculty scheduling.png" alt="Faculty Time Scheduling" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/FacultyScheduling" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://facultyscheduling.onrender.com/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Frontend Developer, created UI components for scheduling and timetable management. <strong>Technologies:</strong> HTML, CSS, Python, Flask, MySQL.</p>
    </div>
    <div class="project-card">
      <h3><i class="fas fa-file-export"></i> Document Converter</h3>
      <div class="project-image-container">
        <img src="/doc_converter.png" alt="Document Converter" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/document_converter" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://document-converter-app.vercel.app/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p>
        <strong>Role:</strong> Designed and developed a user-friendly document conversion application with features like Word to PDF, PDF to Word, compress files, merge PDFs and image to pdf. 
        <strong>Technologies:</strong> Python, HTML, CSS.
      </p>
    </div>
    
    <!-- Project 3 -->
    <div class="project-card">
      <h3><i class="fas fa-cloud-sun"></i> Weather Web App</h3>
      <div class="project-image-container">
        <img src="/weatherapp.png" alt="Weather Web App" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/weather_app" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://weatherforcast-gamma-puce.vercel.app/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Built a weather display system using public APIs for real-time data. <strong>Technologies:</strong> HTML, CSS, JavaScript.</p>
    </div>

    <!-- Project 4 -->
    <div class="project-card">
      <h3><i class="fas fa-list-alt"></i> To-Do List Web App</h3>
      <div class="project-image-container">
        <img src="/to do list.png" alt="To-Do List Web App" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/to-do-list-app" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://todolistapp-snowy.vercel.app/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Developed a task management application with CRUD functionality. <strong>Technologies:</strong> HTML, CSS, JavaScript.</p>
 </div>

    <!-- Project 5 -->
    <div class="project-card">
      <h3><i class="fas fa-calculator"></i> Calculator</h3>
      <div class="project-image-container">
        <img src="/Calculator.png" alt="Calculator" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/Simple-Calculator" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://calculator-azure-chi.vercel.app/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Created an interactive web-based calculator. <strong>Technologies:</strong> HTML, CSS, JavaScript.</p>
    </div>

    <!-- Project 6 -->
    <div class="project-card">
      <h3><i class="fas fa-stopwatch"></i> Stopwatch</h3>
      <div class="project-image-container">
        <img src="/stopWatch.png" alt="Stopwatch" class="project-image">
      </div>
      <div class="button-group">
        <a href="https://github.com/GayatriPisya/stop_watch" target="_blank" class="btn btn-github">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://stopwatch-pink-sigma.vercel.app/" target="_blank" class="btn btn-live">
          <i class="fas fa-globe"></i>Live
        </a>
      </div>
      <p><strong>Role:</strong> Built a stopwatch with start, stop, and reset functionality. <strong>Technologies:</strong> HTML, CSS, JavaScript.</p>
    </div>

  </div>
</div>
