.projects-section {
    padding: 30px;
    margin-top: 80px;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: #cf66ff;
    text-shadow: 0 0 10px #390651, 0 0 20px #cf66ff, 0 0 30px #cf66ffe3;
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .project-card {
    background: rgba(92, 60, 152, 0.456);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    z-index: 1;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(161, 69, 207, 0.989);
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    color: #d3b9d9;
    margin-bottom: 15px;
  }
  
  .project-image-container {
    margin-bottom: 20px;
  }
  
  .project-image {
    width: 100%;
    max-width: 450px;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .button-group {
    margin: 30px;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
  }
  
  .btn-github {
    background-color: #000000;
    color: #fff;
  }
  
  .btn-live {
    background-color: #b702ff;
    color: #fff;
  }
  .btn-github:hover {
    background-color: #00000091; /* Darker background */
    transform: scale(1.05); /* Slightly enlarge the button */
    color: #f5f5f5; /* Change text color */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(25, 22, 22, 0.6); /* Glow effect */
}

.btn-live:hover {
    background-color: #9900e694; /* Slightly darker purple */
    transform: scale(1.05); /* Slightly enlarge the button */
    color: #f5f5f5; /* Change text color */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(184, 135, 219, 0.6); /* Glow effect */
}

.btn i {
  margin-right: 8px;
}

.btn-github i {
  color: #fff;
}

.btn-live i {
  color: #fff;
}

/* Icon styling for the Projects heading */
h1 i {
  margin: 10px;
  color: #cf66ff;
}

  /* Responsive Design for Mobile */
@media (max-width: 768px) {
  .project-card {
      padding: 15px;
      margin-bottom: 20px;
  }

  .projects-container {
      grid-template-columns: 1fr;
  }

  .project-card h3 {
      font-size: 1.25rem;
  }

  .project-image {
      max-width: 100%;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
}
}