/* Skills section */
#skills {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 30px;
  color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #cf66ff;
  text-shadow: 0 0 10px #390651, 0 0 20px #cf66ff, 0 0 30px #cf66ffe3;
  transition: text-shadow 0.3s ease;
}


/* Centering h3 headings */
h3 {
  color: #cf66ff;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center; /* Center the heading */
}

/* Skill container */
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between cards */
}

/* Skill card style */
.skill-card {
  width: 250px; /* Adjust as needed */
  margin: 5px;
  height: 250px; /* Adjust as needed */
  perspective: 1000px; /* Enables 3D space */
  position: relative;
}

.skill-front,
.skill-back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden; /* Hide the back side */
  transition: transform 0.5s; /* Animation effect */
}

/* Front side of the skill card */
.skill-front {
  background: rgba(110, 69, 187, 0.408);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-front img {
  width: 50%; /* Adjust icon size */
}

/* Back side of the skill card */
.skill-back {
  background: rgba(72, 45, 123, 0.6);
  display: flex;
  flex-direction: column; /* Stack icon and text */
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg); /* Rotate back side */
}

.skill-back i {
  font-size: 50px; /* Adjust icon size */
  margin-bottom: 5px; /* Space between icon and text */
  color: #ffffff; /* Icon color */
}

.skill-back p {
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 5px;
  padding: 10px;
}

/* Hover effect for flipping the card */
.skill-card:hover .skill-front {
  transform: rotateY(180deg); /* Rotate front to back */
}

.skill-card:hover .skill-back {
  transform: rotateY(0); /* Show back */
}

/* For specific skill categories */
#frontend-skills h3, 
#backend-skills h3, 
#tools-skills h3, 
#other-skills h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: aliceblue;
}

/* General margin for sectioning */
.skill-section {
  margin-bottom: 50px;
}
